


.mat-black{
    background-color: rgb(19, 18, 18);
    color: #fff;
}

.mat-red{
    background-color: rgb(187, 63, 63);
    color: #fff;
}

.mat-green{
    background-color: rgb(49, 177, 79);
    color: #fff;
}
.mat-blue{
    background-color: rgb(15, 58, 197);
    color: #fff;
}
.sidebar[data-color=danger] li.active > a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(42 61 197 / 40%);
}

.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
    background: #f44336;
}   

.sidebar .logo {
    padding: 38px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
}
.sidebar .logo-img img {
    width: 150px;
    top: -14px;
    position: absolute;
    left: 56px;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle{  
     background-color: #0f3ac5;
    }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: #0f3ac5;
    }
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #0f3ac5;
    }
 

.nav-link{
    
        display: inline-block;
        margin: 17px;
        vertical-align: middle;
    
}
html, body { height: 100%; }



/*  ***** css referenc to datetimePicker ***** */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';





/* MDB SCSS */
/* @import "mdb-angular-ui-kit/assets/scss/mdb.scss"; */
