<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div *ngIf="checkAdmin()" class="search-section">
    <span><strong>Search profils on Linkedin :</strong> </span>
    <input type="text" [(ngModel)]="domainparam" class="search-input" placeholder="Enter domain">
    <input type="text" [(ngModel)]="locationparam" class="search-input" placeholder="Enter location">
    <button class="search-button" (click)="scrapeProfiles()">Search</button>
  </div>

<div *ngIf="loading && checkAdmin()" style="margin-left: 55%;margin-top: 15%;"><h1>Loading...</h1></div>

<div *ngIf="checkAdmin()" class="container mt-4 mb-4" style="margin-top: 15%; margin-left: 18.4%;">
  <div class="row">
    <div class="col-md-4" *ngFor="let profil of tableauStocke | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
      <div class="card p-4" style="margin-top: 10px;height: 450px;">
        <div class="image d-flex flex-column justify-content-center align-items-center">
          <button class="btn btn-secondary">
            <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
          </button>
          <span class="name mt-3">{{ profil.name }}</span>
          <span style="display: flex; align-items: center;">
            <mat-icon style="margin-right: 5px;">location_on</mat-icon>
            <h4 style="margin-bottom: 0;">{{ profil.location }}</h4>
          </span>
          <div class="d-flex mt-2">
            <span style="display: flex; align-items: center;">
            </span>
            <button class="btn1 btn-dark"(click)="sendEmail()">Send an email</button>
          </div>
          <div class="text mt-3">
            <span style="display: flex; align-items: center;">
              <h5 style="margin-left: 10px;">{{ profil.job }}</h5>
            </span>
            
            <br>
            <br>
            <span>{{ profil.schools }}</span>
          </div>
          <div class="px-2 rounded mt-4 date">
            <a [href]="profil.profileUrl" target="_blank">Profil LinkedIn</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="checkAdmin() && profiles" class="pagination-container" style="margin-left: 50%;margin-top: 20px;">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>


