.main-content {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     
    align-items: center;
    justify-content: center; 
  }

  

  p {
    margin: 10px 10px;
  }

  strong {
    font-weight: bold;
  }

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
  }

  .button-row {
    margin-top: 20px;
    text-align: center;
  }

  button {
    background-color: #007bff;
    color: #fff;
  }

  
  .person-details {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 10px;
  }
  h2{
    text-align: center;
  font-size: 2.2em;
  font-weight: 350;
  
  
  }
  .mat-icon{
    
    margin-left: 50px;
  }
  .mat-dialog-actions{
    margin-left: 20%;
  }
  td{
    padding: 10px;
  }
  .mat-red{
    background-color: rgb(187, 63, 63);
    color: #fff;
}

.mat-green{
    background-color: rgb(49, 177, 79);
    color: #fff;
}
.mat-raised-button{
    margin-left: 7%;
}