<div class="main-content">
<form [formGroup]="eventform">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput placeholder="title" formControlName="title">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Start</mat-label>
      <input matInput [matDatepicker]="startPicker" formControlName="start" required #start>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
            
            
      </mat-form-field>

      <div class="form-field">
        <input type="time" class="form-input" formControlName="starttime" required>
      </div>

  
      <mat-form-field>
        <mat-label>End</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="end" required #end>
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>

        
      </mat-form-field>
       

      <div class="form-field">
        <input type="time" class="form-input" formControlName="endtime" required>
      </div>

      <mat-form-field>
        <mat-label>Job</mat-label>
        <input matInput placeholder="Job" formControlName="job">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>

    
    
  

     
  
    <div class="button-row">
      <button mat-raised-button color="green" (click)="save()" >Save</button>
      <button mat-raised-button color="red"  (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>