<h2>{{ data.title }}</h2>
<div class="main-content">
  <table>
    <th></th>
    <tr>
      <td><strong>Applicant</strong></td>
      <td><img [src]="'http://localhost:3001/images/'+ data.applicant.image" alt="Applicant Image"></td>
      <td> {{data.applicant.firstName}} {{data.applicant.lastName}}</td>
      
      
    </tr>

    <th></th>
    
    <tr>
      <td><strong>Engineer</strong></td>
      <td><img [src]="'http://localhost:3001/images/'+ data.engineer.image" alt="Engineer Image"></td>
      <td> {{data.engineer.firstName}} {{data.engineer.lastName}}</td>
    </tr>
    
    <tr>
        <td><strong>Job</strong></td>
        <td colspan="2">{{ data.job }}</td>
      </tr>

      <tr>
        <td><strong>Address</strong></td>
        <td colspan="2">{{ data.address }}</td>
      </tr>


    <tr>
      <td><strong>Start</strong></td>
      <td colspan="2">{{ data.start | date:'MMM d, y, h:mm a'}}</td>
    </tr>
   
    <tr>
      <td><strong>End</strong></td>
      <td colspan="2">{{ data.end | date:'MMM d, y, h:mm a' }}</td>
    </tr>
   
    <tr>
      <td><strong>Status</strong></td>
      <td colspan="2">{{ data.isAccepted ? 'Accepted' : 'Pending' }}</td>
      
    </tr>
  </table>

  <div mat-dialog-actions *ngIf="checkAdmin()">
    <a *ngIf="!data.isAccepted"  mat-raised-button color="green" (click)="acceptEvent()">
      Accept
    </a>
    <a  mat-raised-button color="red" (click)="deleteEvent()">
      Delete
    </a>
  </div>

 

</div>