.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-right: 1px solid #000000;
  }
  
  .logo {
    padding: 15px;
    text-align: center;
    
  }
  
  .logo-img img {
        max-width: 100%;
    border-bottom: 0.5px solid #9b9292;
    left: 8px;
    padding: 19px;
    width: 223px;
    top: -28px;
  }
  
  .sidebar-wrapper {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    width: 260px;
  }
  
  .sidebar-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  .sidebar-wrapper::-webkit-scrollbar-thumb {
    background-color: #f44336;
    border-radius: 10px;
  }
  
  .sidebar-wrapper::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 10px;
  }
  
  .nav {
    margin-top: 130px;
    margin-bottom: 600px;
  }
  
  .nav ul.active li,
  .nav ul.active li:hover,
  .nav ul.active li:focus {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    margin-left: -3px;
    /* width: 245px; */
    


    
  }
  .nav li{
    width: 269px;
  }
  
  .nav li > a {
    color: #FFFFFF;
  }
  
  .nav li > a:hover,
  .nav li > a:focus {
    /* background-color: #2f2e2e; */
    color: #FFFFFF;
    border-radius: 5px;
    /* width: 245px; */
    
  }
  
  .sidebar-wrapper .nav .nav-item .nav-link i {
    margin-right: 6px;
    font-size: 25px;
    vertical-align: middle;
  }
  
  .nav .nav-item .nav-link p {
    display: inline-block;
    margin: 13px;
    vertical-align: middle;
    margin-top: 0px;
    margin-left: -2px;
    font-size: 15px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  .nav{
    padding: 10px;
    
  }
  .nav-link{
    width: 100%;
    height: 50px;
    margin-left: 2px;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 13px;
    text-decoration: none;
  }
  .nav-link{
    margin: 0 0 12px;
    color: #FFFFFF;
}
  
.material-icons{
margin: 12px;
color: white;
margin-left: 5px;
}

.dropdown-content {
  display: none;
  margin: 13px;
  vertical-align: middle;
  margin-top: 0px;
  margin-left: -2px;
}

.dropbtn p{
  margin: -34px 46px 12px;
  color: #FFFFFF;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdown-content p {
  margin: -32px 46px 12px;
}
.dropdown{
  position: absolute;
  top: 181px;
}
.dropbtn  a:hover,
.dropbtn  a:focus {
  background-color: #2f2e2e;
  color: #FFFFFF;
  border-radius: 5px;
  
}

.dropdown-content a:hover,
.dropdown-content a:focus{
  background-color: #2f2e2e;
  color: #FFFFFF;
  border-radius: 5px;
  margin-left: -3px;
}
.nav-link p {
  margin: -35px 41px 12px;
}
.nav li.active > a,
  .nav li.active > a:hover,
  .nav li.active > a:focus {
    background-color: #f44336;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: -3px;
    width: 245px;


    
  }
  .nav ul .dropdown.active a,
  .nav ul .dropdown.active a:hover,
  .nav ul .dropdown.active a:focus {
    background-color: #f44336;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: -3px;
    


    
  }
  